body{margin: 0px;
    padding: 0px;
    color: #654321;
}

main{padding: 16px;

}

footer{padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #ffe4b4;
}


nav{border-bottom: black, 1px;
    padding: 16px;
}

*{
    margin: 10px;
    padding: 0px;
}

nav{
    margin: auto;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
}

.child{
    padding: 10px;
}

img{
    width: 250px;
    height: 350px;
}

h1{
    color: #ffc1cc;
}

nav{
    color: #ffd1dc;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    background-color: #ffe4b4;
}

a:visited{
    text-decoration: none;
    color: #ffd1dc;
}

a{
    text-decoration: none;
}


tr:nth-child(even){
    background-color: hotpink;
}

body{
    font-family: 'Cormorant', serif;
    font-size: large;
}
